body {
  background-color: #ffffff;  /* 페이지 배경화면*/
  text-align: center;
  font-family: arial;
}
#board1{
	display: inline-block;
	display: inline-block;
	margin-top: 150px;
}

#title1{			/*게시판 테이블 상단바 */
	background: white;	
}

#select1{
	width:20%;
	margin-left: 20px;
}

#kind1{
	margin-left:110px;
	text-align:left;
	line-height: 85px;
}

#search1{
	width:30%;
	margin-left: 20px;
	
}
#kind1 #searchbtn1{
	color: white;
	background: #ff5500;
}