#board3 {
	display: inline-block;
	display: inline-block;
	margin-top: 90px;
	margin-bottom: 90px;
}

#cate3 {
	width: 50%;
	margin-left: 20px;
}

#title3 {
	width: 48%;
	margin-left: 46px;
}
.divheight{
	line-height: 50px;
}

#boardlabel2 {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
	padding: .5em .75em;
	color: #000000;
	font-size: 10pt;
	line-height: normal;
	vertical-align: middle;
	background-color: #ffffff;
	border-radius: .25em;
}

/* #photo, #video, #file { 파일 필드 숨기기 */
/* 	position: absolute; */
/* 	width: 1px; */
/* 	height: 1px; */
/* 	padding: 0; */
/* 	margin: -1px; */
/* 	overflow: hidden; */
/* 	clip: rect(0, 0, 0, 0); */
/* 	border: 0; */
/* } */

.space3 {
	width: 25px;
	margin: 0;
	font-size: 0;
}
.hspace{
	height: 20px;
}
.texta3 {
	clear: both;
	padding: 10px;
	border-width: 0px;
	border-style: solid;
}

.textaa3 {
	margin: 10;
	padding: 1px 0;
	overflow: auto;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	resize: none;
	width: 58%;
	height: 300px;
	overflow: hidden;
	line-height: 1;
	font-size: 13pt
}
.miri{
	width: 200px;
	height: 200px;	
}

.labelinline3 {
	display: inline;
}
.insertbtn{			
	
}
.inputcate{
	position: relative;
	right: 13px;
}

.imgsize{			/* 이미지 사이즈*/
	width:230px; 
	height:230px;
}
.tablecell{			/* 이미지간 간격 */
	padding-right: 5%;
}

.filelabel{			/* 사진첨부 라벨 css*/
	margin-left: -37%; 
	display: inline;
}


/* 부트스트랩 */
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #999;
}

.form-control::-webkit-input-placeholder {
	color: #999;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
	{
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

@media ( min-width : 768px) {
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
	.form-inline .form-control-static {
		display: inline-block;
	}
	.form-inline .input-group {
		display: inline-table;
		vertical-align: middle;
	}
	.form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn,
		.form-inline .input-group .form-control {
		width: auto;
	}
	.form-inline .input-group>.form-control {
		width: 100%;
	}
	.form-inline .control-label {
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .radio, .form-inline .checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .radio, .form-inline .checkbox {
		padding-left: 0;
	}
	.form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"]
		{
		position: relative;
		margin-left: 0;
	}
	.form-inline .has-feedback .form-control-feedback {
		top: 0;
	}
}

.btn-link {
	font-weight: normal;
	color: #337ab7;
	border-radius: 0;
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled],
	fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
	border-color: transparent;
}

.btn-link:hover, .btn-link:focus {
	color: #23527c;
	text-decoration: underline;
	background-color: transparent;
}

.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus,
	fieldset[disabled] .btn-link:focus {
	color: #777;
	text-decoration: none;
}