#nav, #nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav {
	width: 100%;
	background: #ffa07a;
}

#nav ul {
	text-align: center;
}

#nav ul li {
	text-align: left;
}

#menubar {
	padding: 7px 30px;
	font-size: 20pt;
	line-height: 50px;
}

#menubar:HOVER {
	cursor: pointer;
}

.menuhr {
	width: 100px;
	color: #ffa07a;
}

#nav a:LINK {
	text-decoration: none;
}

#nav a {
	color: #1a1a1a;
}

#nav a:VISITED {
	color: #1a1a1a;
	text-decoration: none;
}

#nav a:HOVER {
	transition-duration: .3s;
	color: #ffa07a;
}

#menu {
	display: none;
	background: #ffffff;
}

#menu li {
	line-height: 30px;
}

.lileft {
	margin-left: 150px;
}

.lifont {
	font-size: 15pt;
	display: inline-table;
}

.lifont li {
	font-size: 10pt;
}

#headerMenu {
	margin-top: 10px;
	font-size: 10pt;
}

#toplogo_menu {
	margin-bottom: 3px;
	width: 120px;
	height: 40px;
}

#mypageBtn {
	margin-left: 8px;
}

#logoutBtn {
	margin-left: 8px;
}

#logoImg {
	width: 100px;
	height: 40px;
}

.toplogo_btn {
	vertical-align: top;
	margin-top: 20px;
}

.toplogo_btn2 {
	float: right;
	vertical-align: top;
	margin-top: 20px;
	display: none;
}

#searchInput {
	border: 0px;
	vertical-align: top;
	margin-top: 8px;
	height: 35px;
	width: 250px;
	padding-left: 3px;
	font-size: 13pt;
	vertical-align: top;
	background: none;
	margin-left: 750px;
	display: none;
	border-bottom: 2px solid white;
	outline-style: none;
	color: #ffffff;
}

.SearchBtn {
	width: 35px;
	height: 35px;
}

#searchBtnA {
	float: right;
	position: relative;
	margin-right: 5px;
	top: 8px;
}

#searchBtnA:HOVER {
	cursor: pointer;
}

#searchInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, 0.5);
}

#searchInput::-moz-placeholder { /* Firefox 19+ */
	color: rgba(255, 255, 255, 0.5);
}

#searchInput:-ms-input-placeholder { /* IE 10+ */
	color: rgba(255, 255, 255, 0.5);
}

#searchInput:-moz-placeholder { /* Firefox 18- */
	color: rgba(255, 255, 255, 0.5);
}

#searchHr {
	width: 300px;
	margin-left: 105px;
	position: relative;
	bottom: 14px;
}

#total_menu_btn {
	vertical-align: top;
	margin-top: 10px;
	width: 93px;
	height: 29px;
}

nav {
	width: 400px;
	position: fixed;
	right: 159px;
	bottom: 0;
}

#navTable {
	width: 100%;
	border-radius: 60px 60px 0 0;
	background: #ffa07a;
}

#navTable td {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 33%;
	text-align: center;
}

#navTable td:HOVER {
	border-radius: 60px 60px 0 0;
	transition-duration: 1s;
	background: #ff8c78;
}

.navImg {
	width: 30px;
	height: 30px;
}

#navSearchInput {
	position: relative;
	color:#333333;
	left: 190px;
	text-align: right;
	display: none;
	border: 8px solid #ffa07a;
	outline-style: none;
}