@CHARSET "UTF-8";

* {
	margin: 0px auto;
}

header {
	width: 1200px;
}

section {
	width: 1200px;
	height: 1220px;
}

footer {
	width: 1200px;
}

#mainTopTable {
	border: none;
	width: 100%;
	height: 400px;
}

#mainTopTable td {
	text-align: center;
	width: 33%;
}

#mainTopMenuBar {
	text-align: left;
	height: 50px;
	background: #ffa07a;
}

#mainTopMenuBarImg {
	float: left;
	margin-left: 10px;
	margin-top: 4px;
	width: 93px;
	height: 29px;
	width: 93px;
}

#mainTopMenuBarImg:HOVER {
	cursor: pointer;
}

#searchInput {
	border: 0px;
	vertical-align: top;
	margin-top: 1px;
	height: 35px;
	width: 250px;
	padding-left: 3px;
	font-size: 13pt;
	vertical-align: top;
	background: none;
	margin-left: 785px;
	display: none;
	border-bottom: 2px solid white;
	outline-style: none;
	color: #ffffff;
}

#searchInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, 0.5);
}

#searchInput::-moz-placeholder { /* Firefox 19+ */
	color: rgba(255, 255, 255, 0.5);
}

#searchInput:-ms-input-placeholder { /* IE 10+ */
	color: rgba(255, 255, 255, 0.5);
}

#searchInput:-moz-placeholder { /* Firefox 18- */
	color: rgba(255, 255, 255, 0.5);
}

.SearchBtn {
	width: 35px;
	height: 35px;
}

#searchBtnA {
	float: right;
	position: relative;
	margin-right: 5px;
	top: 2px;
}

#searchBtnA:HOVER {
	cursor: pointer;
}

#mainTopMenuImg {
	height: 300px;
}

#mainMenuImg {
	width: 100%;
	height: 300px;
	border: none;
	display: block;
	position: relative;
	z-index: 0;
}

#mainTopLeftTd {
	width: 50%;
	font-size: 8pt;
}

#mainTopLeftTd p {
	float: left;
}

#mainTopLeftTd p a {
	color: black;
	margin-left: 5px;
}

#mainTopLeftTd p a:LINK {
	text-decoration: none;
}

#mainTopLeftTd p a:VISITED {
	color: #1a1a1a;
	text-decoration: none;
}

#mainTopLeftTd p a:HOVER {
	transition-duration: .3s;
	color: #ffa07a;
}
.alink{
	color: #1a1a1a;
}
.alink:LINK {
	text-decoration: none;
}

.alink:VISITED {
	color: #1a1a1a;
	text-decoration: none;
}

.alink:HOVER {
	text-decoration: none;
	transition-duration: .3s;
	cursor: pointer;
	color: #ffa07a;
}

#mainTopRightTd {
	width: 50%;
}

#findBtn {
	margin-right: 5px;
}

#sign_upBtn {
	margin-right: 5px;
}

.toplogo_btn {
	float: right;
}

#mainTopUtilTr {
	height: 25px;
}

#MainLogoTd {
	border-top: 3px solid #ffa07a;
	height: 80px;
}

.lileft {
	margin-left: 150px;
}

.lifont {
	font-size: 15pt;
	display: inline-table;
}

.lifont li {
	font-size: 10pt;
}

#menu, #menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin: 0;
}

#menu li {
	text-align: left;
	line-height: 40px;
}

#menu {
	background: rgba(255, 255, 255, 0.5);
	height: 300px;
	border: none;
	display: none;
	position: relative;
	z-index: 1;
}

#menu ul {
	text-align: left;
}

.menuhr {
	width: 100px;
	color: #ffa07a;
}

#menu a:LINK {
	text-decoration: none;
}

#menu a {
	color: #1a1a1a;
}

#menu a:VISITED {
	color: #1a1a1a;
	text-decoration: none;
}

#menu a:HOVER {
	transition-duration: .3s;
	color: #ffa07a;
}

#slide_div {
	width: 1200px;
	height: 300px;
}

#banner_wrap {
	width: 1000px;
	height: 300px;
	padding: 0px;
	float: left;
	padding: 0px;
}

.slide {
	width: 100%;
	height: 300px;
}

#slideMenu {
	float: right;
	text-align: center;
	width: 200px;
	height: 300px;
	width: 200px;
}

#mainMiddle {
	width: 1200px;
	height: 450px;
	text-align: left;
}

#mainMiddle p {
	text-align: center;
}

#mainMiddle li {
	margin-left: 10px;
	font-size: 10pt;
	line-height: 25px;
	font-size: 10pt;
}

#middlesick {
	border: 2px solid #ffa07a;
	float: left;
	width: 200px;
	height: 300px;
}

#middlesick p {
	font-size: 15pt;
	margin-top: 10px;
}

#groupBuyTable {
	margin-top: 40px;
	vertical-align: top;
	border: none;
	width: 977px;
	height: 380px;
	text-align: center;
	background: rgba(0, 0, 0, 0.05);
}

#groupBuyTable caption {
	font-size: 15pt;
	text-align: left;
	height: 40px;
	padding-left: 10px;
}

#groupBuyTable td {
	vertical-align: top;
	padding: 20px;
	width: 25%;
}

.groupImg {
	width: 200px;
	height: 200px;
}

.groupImg:HOVER {
	cursor: pointer;
	transition-duration: .3s;
	opacity: 0.7;
}

.goGroupBuy {
	cursor: pointer;
}

.goGroupBuy:HOVER {
	color: #a8060b;
	text-decoration: none;
}

/* ---------------- */
#tabmenutable {
	width: 200px;
	height: 380px;
	margin-top: 40px;
	margin-right: 15px;
	float: left;
	text-align: center;
	float: left;
}

#tabmenuTr td {
	cursor: pointer;
	height: 40px;
}

#tabmenuTr td:HOVER {
	transition-duration: .3s;
	opacity: 0.7;
}

.noselect {
	border: 2px solid #ffa07a;
	background: #f6f6f6;
	color: #333333;
}

.selectnow {
	color: #9f0000;
	border: 2px solid #ffa07a;
	border-bottom: none;
}

#tabcontenttr td {
	text-align: left;
	padding-top: 10px;
	vertical-align: top;
	border: 2px solid #ffa07a;
	border-top: none;
	vertical-align: top;
}

.menucontent {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 180px;
}

.menucontent a{
	color: #1a1a1a;
}

.menucontent a:LINK {
	text-decoration: none;
}

.menucontent a:VISITED {
	color: #1a1a1a;
	text-decoration: none;
}

.menucontent a:HOVER {
	transition-duration: .1s;
	color: #ffa07a;
}

.menucontent li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#tablink td {
	margin: 0px;
	padding: 0px;
	height: 90px;
	vertical-align: bottom;
	height: 90px;
}

.tablinks:HOVER {
	cursor: pointer;
	transition-duration: .1s;
	color: #ffa07a;
}

#tablink div {
	width: 196px;
	height: 70px;
	border: 2px solid #ffa07a;
}

#qnacookdiv {
	width: 1200px;
	height: 340px;
	margin-top: 20px;
}

#qnacooktable {
	width: 1200px;
	height: 340px;
	/* 	border:none; */
}

.qnatd {
	width: 350px;
}

#qnadiv {
	float: left;
	width: 300px;
	height: 296px;
	width: 296px;
	border: 2px solid #d1d1d1;
}

#cookhover {
	height: 75px;
	background: #fff0ea;
}

#cookhover b{
	font-size:15pt;
	margin-left:10px;
	margin-top:2px;
	float: left;
}

.cookimg {
	width: 55px;
	height: 55px;
	cursor: pointer;
	float: right;
}

#cookimg1{
	height: 61px;
}

#cookimg2 {
	margin-left: 80px;
}

#cookimg3 {
	margin-left: 80px;
}

#cookimg4 {
	margin-left: 80px;
	margin-right: 40px;
}

#cookcontent {
	padding: 11px;
	vertical-align: top;
	text-align: left;
	vertical-align: top;
	border-top: 2px solid #d1d1d1;
	border-bottom: 2px solid #d1d1d1;
}

#cookcontentimg {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 40px;
}

.cookul {
	list-style: none;
	width: 750px;
}

.cookul li {
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#qnaimg {
	margin-top: 10px;
	width: 200px;
	height: 200px;
	margin-left: 50px;
	width: 200px;
}

.qnap {
	width: 200px;
	line-height: 27px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#qnacooktableheader {
	height: 40px;
}

#headercook {
	padding-left: 10px;
}

#qnacooktableheader b {
	font-size: 15pt;
}


#headerqna span {
	margin-top: 12px;
	font-size: 8pt;
	float: right;
	margin-right: 50px;
}

#headercook span {
	margin-top: 12px;
	font-size: 8pt;
	float: right;
	margin-right: 30px;
}

#groupBuyTable span {
	margin-top: 12px;
	font-size: 8pt;
	float: right;
	margin-right: 10px;
}