.mymodifydiv {
	width: 900px;
	height: 916px;
	background-color: #ffc8b3;
	margin: 60px auto;
	border-radius: 15px;
}

.whitediv2 {
	width: 865px;
	height: 830px;
	background-color: #ffffff;
	margin: 20 auto;
	border-radius: 15px;
}

.modifytablediv {
	height: 830;
	border: 1px solid #ffffff;
	border-radius: 15px;
}

.modifyh2 {
	padding-top: 25px;
	padding-left: 20px;
}

.modifytable {
	width: 95%;
	margin: 3% auto;
	border-spacing: 0;
	border-collapse: collapse;
}

.modifyfont {
	text-align: left;
	background-color: #ffe9df;
	font-family: Dotum;
	font-size: 11pt;
}

.passfont {
	font-size: 11pt;
	font-family: Dotum;
	color: #777;
}

.passinput {
	height: 30px;
	line-height: 30px;
}

.modifyspan{
	float: left;
	
}
.passfont1 {
	font-weight: normal;
	text-align: left;
	padding: 10px 6px 10px 0;
	background-color: #fff;
	white-space: nowrap;
	width: 1%;
	font-size: 11pt;
	font-family: Dotum;
	color: #777;
}

.modifyth {
	border-top: 1px solid #bcbcbc;
	border-bottom: 1px solid #bcbcbc;
	padding: 20px 30px;
}

.modifybtnth{
	text-align: left;
}

/* 부트스트랩 적용 */
.form-control {
	display: block;
	width: auto;
	height: 30px; /* 원래 34px*/ 
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #999;
}

.form-control::-webkit-input-placeholder {
	color: #999;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
	{
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

.form-control1 {
	display: block;
	width: 100%;
	/* 	height: 30px; 원래 34px */
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	float: left;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	
}

.form-control1:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.form-control1[disabled], .form-control1[readonly], fieldset[disabled] .form-control1
	{
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

@media ( min-width : 768px) {
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
	.form-inline .form-control1 {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
	.form-inline .form-control-static {
		display: inline-block;
	}
	.form-inline .input-group {
		display: inline-table;
		vertical-align: middle;
	}
	.form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn,
		.form-inline .input-group .form-control {
		width: auto;
	}
	.form-inline .input-group>.form-control {
		width: 100%;
	}
	.form-inline .control-label {
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .radio, .form-inline .checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .radio label, .form-inline .checkbox label {
		padding-left: 0;
	}
	.form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"]
		{
		position: relative;
		margin-left: 0;
	}
	.form-inline .has-feedback .form-control-feedback {
		top: 0;
	}
}

.modifybtn {
	display: inline-block;
	padding: 10px 22px;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	background-color: #ffffff;
	border: 1px solid #777;
	border-radius: 4px;
	margin-top: 15px;
	margin-right: 200px;
	line-height: 10px;
}

.modifybtn1 {
	display: inline-block;
	padding: 10px 22px;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	background-color: #ffffff;
	border: 1px solid #777;
	border-radius: 4px;
	line-height: 10px;
	
	margin-top: 15px; 
	float: right;
}