.mypagediv {
	width: 900px;
	height: 1010px;
	background-color: #ffc8b3;
	margin: 60px auto;
	border-radius: 15px;
}

.whitediv {
	width: 865px;
	height: 925px;
	background-color: #ffffff;
	margin: 20px auto;
	border-radius: 15px;
}

.paydiv {
	margin-top: 75px;
	height: 240px;
}

.writediv {
	margin-top: 32px;
	height: 240px;
}

.gradeh3 {
	padding-top: 25px;
	padding-left: 20px;
}

.infoh3 {
	padding-top: 20px;
	padding-left: 20px;
	display: inline;
}

.infoh3a {
	padding-top: 20px;
	display: inline;
}

.infomore {
	padding-left: 76%;
	text-decoration: none;
	font-size: small;
}

.infomorep {
	margin-top: 2%;
}

.infotable {
	width: 95%;
	margin: 20px auto;
}

.modifybtn {
	width: 100px;
	height: 25px;
	border: none;
	border-radius: 15px;
	background-color: #ffc8b3;
	margin-left: 50px;
	margin-bottom: 1%;
}

.myfont {
	font-family: sans-serif;
	text-align: center;
	font-size: 10pt;
}

.infohr {
	width: 94%;
}

.payhr {
	width: 94%;
	margin-top: 2%;
}

.infopadding {
	padding-top: 15px;
}

.pagealign {
	text-align: center;
}

.pagealignr {
	text-align: center;
}

.payinfodiv {
	width: 47%;
	height: 250px;
	/* 	border: 2px solid #000000; */
	padding-left: 20px;
}

.pagetr {
	background-color: #e3e3e3;
}

.pagetd {
	border-top: 1px solid #bcbcbc;
	border-bottom: 1px solid #bcbcbc;
	padding: 5px 10px;
}

.pagetable {
	width: 95%;
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 5px;
}

.pagealign {
	text-align: center;
}

.pagealign {
	text-align: center;
}

.btnspace {
	height: 35px;
}

/* 부트스트랩 적용 */
.form-control {
	display: block;
	width: 70%;
	height: 30px; /* 원래 34px*/
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control1 {
	display: block;
	width: 94%;
	height: 30px; /* 원래 34px*/
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control1:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #999;
}

.form-control::-webkit-input-placeholder {
	color: #999;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
	{
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

.form-control1[disabled], .form-control1[readonly], fieldset[disabled] .form-control1
	{
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

@media ( min-width : 768px) {
	.form-inline
 
.form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline
 
.form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
	.form-inline
 
.form-control-static {
		display: inline-block;
	}
	.form-inline
 
.input-group {
		display: inline-table;
		vertical-align: middle;
	}
	.form-inline
 
.input-group
 
.input-group-addon, .form-inline
 
.input-group
 
.input-group-btn, .form-inline
 
.input-group
 
.form-control {
		width: auto;
	}
	.form-inline
 
.input-group>.form-control {
		width: 100%;
	}
	.form-inline
 
.control-label {
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline
 
.radio, .form-inline
 
.checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline
 
.radio, .form-inline
 
.checkbox {
		padding-left: 0;
	}
	.form-inline
 
.radio
 
input
[type="radio"], .form-inline
 
.checkbox
 
input
[type="checkbox"] {
		position: relative;
		margin-left: 0;
	}
	.form-inline
 
.has-feedback
 
.form-control-feedback {
		top: 0;
	}
}

.exitbtn {
	display: inline-block;
	padding: 9px 22px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: bolder;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	background-color: #ffffff;
	border: 1px solid #777;
	border-radius: 4px;
}
.leavebtn {
	display: inline-block;
	color: #ffffff;
	padding: 9px 22px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: bolder;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	background-color: #ffc8b3;;
	border-radius: 4px;
}

/* .leavebtn { */
/* 	display: inline-block; */
/* 	padding: 9px 15px; */
/* 	margin-bottom: 0; */
/* 	font-size: 11px; */
/* 	font-weight: normal; */
/* 	text-align: center; */
/* 	white-space: nowrap; */
/* 	vertical-align: middle; */
/* 	-ms-touch-action: manipulation; */
/* 	touch-action: manipulation; */
/* 	cursor: pointer; */
/* 	-webkit-user-select: none; */
/* 	-moz-user-select: none; */
/* 	-ms-user-select: none; */
/* 	user-select: none; */
/* 	background-image: none; */
/* 	background-color: #777; */
/* 	border: 1px solid #888; */
/* 	font-size: 11px; */
/* 	/* 	border-radius: 4px; */ */
/* } */