.qnaimg {
	width: 70px;
	height: 57px;
	margin: 30px 0px 0 20px;
	float: left;
}

.AqnaStrong {
	margin-top: 40px;
	font-family: Dotum;
	display: block;
	margin-bottom: 14px;
	color: #000;
	font-weight: 400;
	font-size: 26px;
	line-height: 34px;
	text-align: left;
	letter-spacing: -1px;
}

.AqnaContent {
	min-height: 72px;
	margin-bottom: 12px;
	padding-left: 1px;
	color: #222;
	font-size: 16px;
	line-height: 28px;
	word-break: break-all;
	word-wrap: break-word;
}

.AqnaSpan {
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-family: dotum, '돋움', sans-serif;
	color: #959595;
	float: left;
	position: relative;
	margin-top: 8px;
}

.Aqnabtn {
	background-color: #ffa07a;
	color: #fff;
	width: 99px;
	height: 37px;
	background-position: -180px -920px;
	float: right;
	position: relative;
	z-index: 100;
	float: right;
	border: 0px;
}

.AqnaAnswer {
	background-color: #ffa07a;
	border: 1px solid #000;
	margin: 50px auto;
	float: left;
	position: relative;
	z-index: 10;
	width: 900px;
	height: auto;
	padding-bottom: 50px
}

.Aqnah3 {
	float: left;
	width: auto;
	margin-right: 12px;
	font-weight: 700;
	font-size: 24px;
	font-family: Dotum, '돋움', sans-serif;
	line-height: 14px;
	display: block;
	width: 100%;
	margin: 32px 0 18px 105px;
	color: #222;
	letter-spacing: -1px;
}

.AqnaList {
	width: 768px;
	padding: 0;
	margin: 0 0 16px;
	border: 0;
	background: 0 0;
	z-index: 11
}

.AqnaList .AqnaContent {
	padding: 28px;
	border: 2px solid #000;
	height: auto;
	position: relative;
	float: right;
	width: 632px;
	padding: 30px;
	background: #fff;
	position: relative;
}

.AqnaContent1 {
	padding-left: 1px;
	color: #222;
	font-size: 16px;
	line-height: 28px;
	word-break: break-all;
	word-wrap: break-word;
}

.AqnaInfo {
	position: relative;
	height: 35px;
	margin-top: 15px;
}

.AqnaUser {
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-family: dotum, '돋움', sans-serif;
	color: #959595;
	float: left;
	position: relative;
	margin-top: 8px;
	float: left;
	max-width: 130px;
	margin-right: 7px;
}

.AqnaUserInfo {
	float: left;
	position: relative;
	margin-top: 8px;
	display: block;
	font-size: 12px;
	line-height: 16px;
	font-family: dotum, '돋움', sans-serif;
	color: #959595;
}

.Aqnabar {
	float: left;
	margin-right: 7px;
	color: #e2e2e2;
}

.AqnaOpinion {
	text-decoration: none;
	float: left;
	color: #888;
	margin-right: 7px;
	font-weight: 700;
	float: left;
}

.AqnaOpinion:HOVER {
	text-decoration: underline;
}

.AqnaOpinionCnt {
	color: #f44;
}

.AqnaComment {
	margin-top: 20px;
}

.AqnaForm {
	z-index: 10;
	position: relative;
}

.AqnaCommentIn {
	position: relative;
	float: left;
	width: 508px;
	height: 58px;
	border: 1px solid #bebebe;
}

.AqnaText {
	font-family: Apple SD Gothic Neo, 'Malgun Gothic', '맑은 고딕', '돋움', dotum,
		sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #333;
	display: block;
	width: 488px;
	height: 38px;
	padding: 10px;
	border: 0;
	line-height: 16px;
	resize: none;
	vertical-align: middle;
}

.AqnaAnswerbtn {
	float: left;
	width: 70px;
	height: 60px;
	background: #c6c8d0;
	text-align: center;
	font-family: dotum;
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
	vertical-align: middle;
}

.AqnaCList {
	overflow: hidden;
}

.AqnaLi {
	overflow: hidden;
	position: relative;
	padding: 13px 40px 13px 10px;
/* 	border-top: 1px solid #e9e9e9; */
	border : 2px solid #000;
	list-style: none;
}

.AqnaLi:FIRST-CHILD {
	border-top: 0;
}