.ShopSection {
	margin: 100px auto;
	text-align: center;
	width: 1024px;
}

/* #itemView { */
/* 	width: 50%; */
/* 	height: 100px; */
/* } */
.infoImage {
	max-width: 300px;
	height: auto;
}
   
#insertReply:hover {
	text-decoration: none;
}

#replyInput {
	width: 900px;
	height: 40px;
	font-size: 15pt;
	text-align: left;
	float: left;
	border: 1px solid #777;
	border-radius: 3em;
	padding-left: 10px;
}

#viewTableImg, #btnTableTd {
	vertical-align: top;
	/* 	vertical-align: text-top; */
}

#viewTable {
	width: 1024px;
	margin-bottom: 20px;
}

#viewTable td {
	text-align: left;
}

.viewInfo {
	height: 30px;
}

#countSelect {
	width: 200px;
	height: 25px;
}

#sizeSelect {
	width: 200px;
	height: 25px;
}

.tdBtn:hover {
	transition: 0.5s;
	background: #dcdcdc;
}

.tdBtn {
	height: 40px;
	border: 1px solid #c0c0c0;
}

#pinkColor {
	color: #f5989c;
}

.sameinfoDiv {
/* 	border : 1px solid #000; */
	width: 70%;
	height: 175px;
	margin: 50px auto;
}

.sameinfo {
	width: 175px;
	height: 175px;
	background-color: #959595;
	float: left;
	margin: 0 3px 0 0;
	display: table;
}

.sameinfo1 {
	width: 175px;
	height: 175px;
	background-color: #cecece;
	float: left;
	margin: 0 3px 0 0;
}

.sameinfo2 {
	width: 175px;
	height: 175px;
	background-color: #cecece;
	float: left;
}

.sameinfoTXT {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}

.sameinfoTXT1 {
	color: #000;
	line-height: 50px;
	padding-top: 30px;
}

.sameStart {
	padding-top: 50px;
	font-size: 11pt;
	color: #fff;
	font-weight: bold;
}

.sameStart1 {
	line-height: 38px;
	padding-top: 50px;
	font-size: 11pt;
	color: #000;
	font-weight: bold;
}

.sameSold {
	line-height: 38px;
	padding-top: 50px;
	font-size: 11pt;
	color: #fff;
	font-weight: bold;
}

.sameMax {
	line-height: 38px;
	padding-top: 50px;
	font-size: 11pt;
	color: #000;
	font-weight: bold;
}

.sameDeposit {
	line-height: 38px;
	padding-top: 50px;
	font-size: 11pt;
	color: #fff;
	font-weight: bold;
}

.infoCount {
	width: 20px;
	margin: 0 10px;
	border: 1px solid #000;
	text-align: center;
}

.infoCountbtn {
	width: 20px;
	background-color: #ffa07a
}

.infoDetail1 {
	height: 20px;
	width: 100px;
}

.infoDetail2 {
	width: 100px;
	height: auto;
}

.Shoptablediv {
	width: 100%;
	margin: 50px auto 40px;
}