@charset "utf-8";

/* @import url(common.css); */

div.child							{ width:815px;}

div.flu												{ width:815px; background:url(/img/c3/sub1_bg.gif) 100% 0px no-repeat; }
div.flu2												{ width:815px; background:url(/img/c3/sub2_bg.gif) 100% 0px no-repeat; }
div.flu ul.flu_list								{  }
div.flu ul.flu_list li								{
	color:#666;
	padding-bottom:35px;
}
div.flu ul.flu_list li u	 						{ color:#846b4b; vertical-align:0;}
div.flu ul.flu_list li em						{ color:#846b4b; }

div.flu p.aTit										{ font-size:19px; color:#e97e1d; font-weight:bold; padding-bottom:10px;}
div.flu ol li											{ font-size:17px; color:#444; font-weight:bold; padding-bottom:30px;}
div.flu ol li span								{ display:inline-block; color:#e97e1d; font-weight:bold; font-size:18px; vertical-align:1px;}
div.flu ol li p										{
	font-weight:normal;
	padding:8px 0 0 24px;
}
div.flu ol li p em								{ padding:0 0 0 58px; }
div.flu ol li p em.pd2							{ padding:0 0 0 32px; }
div.flu ol li p em.col							{ color:#846b4b; padding:0; }

p.box_txt.flu2_box							{ background:url(/img/c3/flu2_box.gif) 100% 60px no-repeat; padding:0 0 50px 0; }


div.box_txt2										{ margin:-34px 0 0 0; }
div.box_txt2 ol									{ background:#fdf2e8; margin:10px -20px 0; padding:10px 20px 10px; }
div.box_txt2 ol li								{ padding:0 0 5px 0; }


div.asthma										{ width:815px;}
div.asthma1 p.aTit							{ font-size:19px; color:#e97e1d; font-weight:bold; padding-bottom:10px;}
div.asthma1 p.aTit2							{ font-size:17px;; font-weight:bold; padding-bottom:5px;}
div.asthma1 p.aTit_1							{ font-size:19px; color:#e97e1d; font-weight:bold; padding-bottom:5px;}
div.asthma1 p.aTit2_1							{ font-size:17px;; font-weight:bold; padding-bottom:15px;}
div.asthma1										{ width:815px; padding-top:10px;  margin-bottom:20px; }
div.asthma1.bg								{ background:url(/img/c3/asthma1.gif) 100% 10px no-repeat; }
div.asthma1.bg2								{ background:url(/img/c3/asthma4.gif) 100% 10px no-repeat; }
div.asthma1 em.col							{ color:#846b4b; vertical-align:0;}						
div.asthma1 p.con							{
	padding-bottom:30px;
}
div.asthma1 p.con span.pd				{ display:block;  color:#846b4b;  padding:4px 0}
div.asthma1 p.con2							{
}
div.asthma2										{ width:815px; position:relative;}
div.asthma2 ul									{ padding-left:470px}
div.asthma2 ul li								{ font-weight:bold; font-size:14px; padding-bottom:20px}
div.asthma2 ul li span						{ display:block; font-weight:normal; padding-top:5px}
div.asthma2 p									{ position:absolute; left:0;}

ul.sub3_box										{ background:url(/img/c3/sub3_box.gif) 100% 80% no-repeat; }
ul.sub3_box li									{ padding-bottom:15px;  line-height:180%;}
ul.sub3_box li strong						{ font-size:17px; vertical-align:0; }
ul.sub3_box li  u								{ font-size:17px;  vertical-align:0; font-weight:bold; }

div.asthma1 ol.bk	 									{ background:url(/img/c3/bk.gif) 100% 15px no-repeat;}
div.asthma1 ol li										{  font-size:17px; color:#444; font-weight:bold; padding-bottom:25px;}
div.asthma1 ol li span								{ display:inline-block; color:#e97e1d; font-weight:bold; font-size:17px; vertical-align:1px;}
div.asthma1 ol li p									{
	font-weight:normal;
	padding-top:15px;
}


div.sub5_box											{width:788px;   height:270px;  padding-left:27px;  background:url(/img/c3/sub5_box.jpg) 0 0 no-repeat;}
div.sub5_box p.tit									{ padding:40px 0 28px 0; }
div.sub5_box p										{
}
div.sub5_box p u										{ font-size:17px; vertical-align:0; font-weight:bold}

.imgt{
	padding-left: 30px;
}
ol{
	list-style: none;
	padding-left: 0px;
}
.imgT{
	padding-left: 50px;
}li{
	list-style: none;
}
.imgA{
	width:350px;
	height: 300px;

}