@charset "utf-8";

/* @import url(common.css); */


div.atopic												{ width:815px; position:relative;}
div.atopic.baby										{ background:url(/img/c5/baby.gif) 100% 40px no-repeat;}
div.atopic ul.aLIst									{ }
div.atopic ul.aLIst	 li								{ font-size:18px; color:#e97e1d; font-weight:bold; padding-bottom:35px;}
div.atopic ul.aLIst	 li p							{
	font-weight:normal;
	padding-top:15px;
	padding-left: 16px;
}
div.atopic ul.aLIst	 li p u						{ vertical-align:0px; color:#846b4b;}
div.atopic  p.aTit									{ font-size:18px; color:#e97e1d; font-weight:bold; padding-bottom:18px;}
div.atopic ul.aLIst	 li ol							{ padding-top:20px;}
div.atopic ul.aLIst	 li ol li										{  font-size:16px; color:#555; font-weight:bold; padding-bottom:20px;}
div.atopic ul.aLIst	 li ol li span								{ display:inline-block; color:#e97e1d; font-weight:bold; font-size:16px; vertical-align:1px;}
div.atopic ul.aLIst	 li ol li p										{
	font-weight:normal;
	color:#777;
	padding-top:15px;
}

div.atopic ul.aLIst2								{  padding:0 0 30px 270px;}
div.atopic ul.aLIst2.baby2					{ background:url(/img/c5/baby2.gif) 0 0 no-repeat;}
div.atopic ul.aLIst2 li							{ font-size:18px; color:#e97e1d; font-weight:bold; padding-bottom:35px;}
div.atopic ul.aLIst2 li p							{
	font-weight:normal;
	padding-top:15px;
}

div.atopic ul.aLIst3								{  padding:0 0;  background:url(/img/c5/baby3.gif) 100% 30px no-repeat;}
div.atopic ul.aLIst3 li							{ font-size:18px; color:#e97e1d; font-weight:bold; padding-bottom:15px;}
div.atopic ul.aLIst3 li p							{
	font-weight:normal;
	padding-top:15px;
}
div.atopic ul.aLIst3 li p u						{ vertical-align:0px; color:#846b4b;}

div.atopic p.child													{ position:absolute; right:0; top:135px;}

div.sub2_box											{width:788px;   height:270px;  padding-left:27px;  background:url(/img/c5/sub2_box.gif) 0 0 no-repeat;}
div.sub2_box.sub3_box							{
	background:url(/img/c5/sub3_box.gif) 0 0 no-repeat;
	margin-top:30px;
	line-height: 20px;
}
div.sub2_box p.tit									{ padding:40px 0 28px 0; }
div.sub2_box p										{
	padding-bottom:12px;
}
div.sub2_box p.big									{
	text-decoration:underline;
	font-size:16px;
	font-weight:bold;
	line-height:22px;
}
div.sub2_box p strong								{
	font-size:16px;
	vertical-align:0;
	line-height: 21px;
}
.side{
	font-size: 15px;
	font-weight: bold;
	color: #ffa07a;
	text-decoration: none !important;
}
ol{
	list-style: none;
	padding-left:0px;
}
.imgA{
	width:350px;
	height: 300px;

}
